<main>
    <div class="container">
        <!-- FIRST ROW -->
        {% include "project_components/home/benefits/first_row.html" %}
        
        <hr class="my-5">
        
        <!-- SECOND ROW -->
        {% include "project_components/home/benefits/second_row.html" %}
        
        <hr class="my-5">
        
        <!-- THIRD ROW -->
        {% include "project_components/home/benefits/third_row.html" %}
        
        <hr class="mb-5">
        
        <!-- FOURTH ROW -->
        {% include "project_components/home/benefits/fourth_row.html" %}
        
        <hr class="mb-5">
        
        <!-- FIFTH ROW -->
        {% include "project_components/home/benefits/fifth_row.html" %}
        
        <hr class="mb-5">
        {% include "project_components/home/benefits/sections/banner.html" with section_image="https://mdbootstrap.com/img/Photos/Others/images/78.jpg" %}
    </div>
</main>
