{% extends "pages/index.html" %}
{% load i18n humanize %}

{% block title %}People I follow{% endblock %}

{% block middle_header %}

{% endblock %}

{% block middle %}
    <div class="row">
        <div class="col-12">
            {% for follower in user_feed.myuserprofile.follows.all %}
                {% include "components/cards/user/base.html" with for_follows=True %}
            {% empty %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% blocktrans %}
                                You have no followers yet. Here are some interesting
                                people that you might be interested in following
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                
                    <div class="col-12">
                        <div class="row">
                            {% for user in top_users %}
                            {% include "components/cards/user/base.html" with for_follows=False %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
